.header {
    background-color: white;
    border-block-end: 1px solid var(--color-border-1);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    padding-inline: .75rem;

    & * {
        width: fit-content;
    }
}


.header__app-title {
    text-align: start;
    line-height: 1.1;
    font-size: var(--font-size);
    overflow: hidden;
    text-overflow: ellipsis;
}


.header__list-points {
    text-align: center;
    place-self: center end;
}