<!-- Unit List -->
<div class="unit-col">
    <div class="card-name">Add Models</div>
    @for ( unit of unitService.UnitListSignal(); track $index ) {
    <div class="posse-list">
        <span>{{ unit.displayName }}</span>
        <button (click)="addUnit(unit.id)">+</button>
    </div>
    }
</div>

<!-- Selected List -->
<div class="main-col">
    <div class="posse-card-name">
        <a routerLink="" class="back-button">Back</a>
        <div>{{ posseListData().displayName }}</div>
        <div class="posse-points">25 pts</div>
    </div>
    @for ( unit of posseListData().units; track $index) {
    <div class="unit-card">
        <div>
            <span>{{
                this.unitService.getUnitById(unit.id)!.displayName
            }}</span>
            <div class="unit__info">
                <span
                    >{{
                        this.unitService.getUnitById(unit.id)!.points
                    }}
                    points</span
                >
            </div>
        </div>
        <button (click)="removeUnit($index)">Delete</button>
    </div>
    }
</div>

<!-- Options / Rules Panel -->
<div class="options-col">
    <div class="card-name">Posse Rules</div>
    <p>
        {{ this.posseIdData()?.description }}
    </p>
    <strong class="section__title">COMPOSITION:</strong>
    <ul class="composition__ul">
        @for ( compositions of this.posseIdData()?.composition; track $index) {
        <li class="composition__li">{{ compositions }}</li>
        }
    </ul>
    <strong class="section__title">LIMITATION:</strong>
    <ul class="limitation__ul">
        @for ( limitations of this.posseIdData()?.limitation; track $index) {
        <li class="limitation__li">{{ limitations }}</li>
        }
    </ul>
    <strong class="section__title">BONUS:</strong>
    <ul class="bonus__ul">
        @for ( bonuses of this.posseIdData()?.bonus; track $index) {
        <li class="bonus__li">{{ bonuses }}</li>
        }
    </ul>
</div>
