<app-list-header [title]="posseListData().displayName" backRoute="/lists/{{ listIndex }}"></app-list-header>
<!-- Unit List -->
<div class="page-grid">
    <div class="unit-col">
        <div class="card-name">Add Models</div>
        <p class="unit__separator">Bosses</p>
        @for ( unit of unitService.getUnitsByTrait("Boss"); track $index ) {
        <div class="posse-list">
            <div>
                <span>{{ unit.displayName }} - {{ unit.points }} pts</span>
                <div class="unit__info">
                    @for ( trait of unitService.getMatchingTraitsOnUnit( unit.id, this.posseIdData()!.relevantTraits!); track $index) { <span>{{ trait }}</span> }
                </div>
            </div>
            <button class="button --positive" (click)="addUnit(unit.id, listIndex)">
                <svg fill="currentColor" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
        }
        <p class="unit__separator">Faces</p>
        @for ( unit of unitService.getUnitsByTrait("Face"); track $index ) {
        <div class="posse-list">
            <div>
                <span>{{ unit.displayName }} - {{ unit.points }} pts</span>
                <div class="unit__info">
                    @for ( trait of unitService.getMatchingTraitsOnUnit( unit.id, this.posseIdData()!.relevantTraits!); track $index) { <span>{{ trait }}</span> }
                </div>
            </div>
            <button class="button --positive" (click)="addUnit(unit.id, listIndex)">
                <svg fill="currentColor" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
        }
        <p class="unit__separator">Hands</p>
        @for ( unit of unitService.getUnitsByTrait("Hands"); track $index ) {
        <div class="posse-list">
            <div>
                <span>{{ unit.displayName }} - {{ unit.points }} pts</span>
                <div class="unit__info">
                    @for ( trait of unitService.getMatchingTraitsOnUnit( unit.id, this.posseIdData()!.relevantTraits!); track $index) { <span>{{ trait }}</span> }
                </div>
            </div>
            <button class="button --positive" (click)="addUnit(unit.id, listIndex)">
                <svg fill="currentColor" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
        }
        <p class="unit__separator">Specialists</p>
        @for ( unit of unitService.getUnitsByTrait("Specialist"); track $index ) {
        <div class="posse-list">
            <div>
                <span>{{ unit.displayName }} - {{ unit.points }} pts</span>
                <div class="unit__info">
                    @for ( trait of unitService.getMatchingTraitsOnUnit( unit.id, this.posseIdData()!.relevantTraits!); track $index) { <span>{{ trait }}</span> }
                </div>
            </div>
            <button class="button --positive" (click)="addUnit(unit.id, listIndex)">
                <svg fill="currentColor" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
        }
        <p class="unit__separator">Supports</p>
        @for ( unit of unitService.getUnitsByTrait("Support"); track $index ) {
        <div class="posse-list">
            <div>
                <span>{{ unit.displayName }} - {{ unit.points }} pts</span>
                <div class="unit__info">
                    @for ( trait of unitService.getMatchingTraitsOnUnit( unit.id, this.posseIdData()!.relevantTraits!); track $index) { <span>{{ trait }}</span> }
                </div>
            </div>
            <button class="button --positive" (click)="addUnit(unit.id, listIndex)">
                <svg fill="currentColor" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
            </button>
        </div>
        }
    </div>

    <!-- Selected List -->
    <div class="main-col">
        <div class="posse-card-name">
            <div>Selected Units</div>
            <div class="badge posse-points">{{ listService.getPossePoints(selectedPosseIndex, listIndex) }}</div>
        </div>
        @for ( unit of posseListData().units; track $index) {
        <app-unit-card [unit]="unit" (onRemoveUnit)="removeUnit($index, listIndex)" (onIncreaseUnitCount)="increaseUnitCount($index, listIndex)" (onDecreaseUnitCount)="decreaseUnitCount($index, listIndex)"></app-unit-card>
        } @empty {
        <img class="empty-image" src="assets/empty.png" />
        <p class="empty-text">Add units</p>
        }
    </div>

    <!-- Options / Rules Panel -->
    <div class="options-col">
        <div class="card-name">Posse Rules</div>
        <p class="posse__description">
            {{ this.posseIdData()?.description }}
        </p>
        <strong class="section__title">COMPOSITION:</strong>
        <ul class="composition__ul">
            @for ( compositions of this.posseIdData()?.composition; track $index) {
            <li class="composition__li">{{ compositions }}</li>
            }
        </ul>
        <strong class="section__title">LIMITATION:</strong>
        <ul class="limitation__ul">
            @for ( limitations of this.posseIdData()?.limitation; track $index) {
            <li class="limitation__li">{{ limitations }}</li>
            }
        </ul>
        <strong class="section__title">BONUS:</strong>
        <ul class="bonus__ul">
            @for ( bonuses of this.posseIdData()?.bonus; track $index) {
            <li class="bonus__li">{{ bonuses }}</li>
            }
        </ul>
    </div>
</div>
