.header {
    background-color: white;
    border: 1px solid var(--color-border-1);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    padding-inline: 1rem;
}

.list-info {
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem;
    font-weight: bold;
    justify-content: center;
}

.header__app-title {
    text-align: start;
    line-height: 1.1;
    font-size: var(--font-size-lg);
}

.header__list-points,
.header__list-name {
    align-self: center;
}

.header__list-name {
    text-align: end;
}

.header__list-points {
    text-align: center;
}