<!-- Unit List -->
<div class="unit-col">
    <div class="card-name">Add Posses</div>
    @for ( posse of posseService.PosseListSignal(); track $index ) {
    <div class="posse-list">
        <span>{{ posse.displayName }}</span>
        <button (click)="addPosse(posse)">+</button>
    </div>
    }
</div>

<!-- Selected List -->
<div class="main-col">
    <div class="card-name">
        {{ listService.listSignal().name }}
    </div>
    @for (posse of listService.listSignal().posses; track $index) {
    <div class="unit-card">
        <div>
            <a routerLink="posses/{{ $index }}">{{ posse.displayName }}</a>
            <div class="posse__info">
                <span>15 points</span>
                <span>{{ posse.units.length }} units</span>
            </div>
        </div>
        <button (click)="removePosse($index)">Delete</button>
    </div>
    }
</div>

<!-- Options / Rules Panel -->
<div class="options-col">
    <div class="card-name">List Configuration</div>
    <div class="form-item">
        <label>List Name: </label>
        <input type="text" value="My List" disabled />
    </div>
    <div class="form-item">
        <label>Point Limit: </label>
        <input type="number" value="200" disabled />
    </div>
</div>
