<!-- Unit List -->
<div class="unit-col">
    <strong>Eligible Posses</strong>
    @for ( posse of posseService.PosseListSignal(); track $index ) {
    <div class="unit-card">
        <span>{{ posse.name }}</span>
        <button (click)="addPosse(posse)">+</button>
    </div>
    }
</div>

<!-- Selected List -->
<div class="main-col">
    <strong>{{ listService.listSignal().name }}</strong>
    @for (posse of listService.listSignal().posses; track $index) {
    <div class="unit-card">
        <a href="posses/{{ $index }}" routerLink="posses">{{ posse.name }}</a>
        <div>{{ posse.units.length }}</div>
        <button (click)="removePosse($index)">-</button>
    </div>
    }
</div>

<!-- Options / Rules Panel -->
<div class="options-col">
    <strong>Lawmen</strong>
    <div class="form-item">
        <label>List Name: </label>
        <input type="text" value="My List" />
    </div>
    <div class="form-item">
        <label>Points: </label>
        <input type="number" value="300" />
    </div>
</div>
