.page-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: .75rem;
    padding: .75rem;
    block-size: 90vh;
}



.unit-col, .main-col, .options-col {
    border: 1px solid var(--color-border-1);
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    overflow-y: auto;
}

.unit-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border-2);
    padding: .75rem 1rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

}

.list-card-name {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    font-weight:bold;
    padding-block-end: 1rem;
    font-size: var(--font-size-sm);
}


.unit-card__name {
    block-size: 1rem;
}

.unit-card__header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.posse__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text-2);
    font-size: var(--font-size-sm);
    padding-block-start: .5rem;

    & * + *::before {
        content: '-';
        padding-inline-end: 1rem;
    }
}

.posse-list {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.posse__unit-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--color-text-2);
    font-size: var(--font-size-sm);
    padding-block-start: .5rem;
}

.posse-card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bold;
    padding-block-end: 1rem;
    font-size: var(--font-size-sm);
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.card-name {
    display: flex;
    justify-content: center;
    font-weight:bold;
    padding-block-end: 1rem;
    font-size: var(--font-size-sm);
}

.dialog-name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-size-sm);
}

.options-col details {
    display: none;
}

@media screen and (max-width: 800px) {
    .page-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
    }


    .unit-col *,
    .unit-col,
    .options-col >:not(details) {
        display: none !important;
    }

    .options-col {
        block-size: fit-content;
        order: -1;
    }

    .options-col details {
        display: flex;

        & summary .card-name { 
            padding: 0;
            display: flex;
            gap: .5rem;

            &::before {
                content:"▼";
            }
        }
    }

    .options-col details[open] summary .card-name {
        padding-block-end: 1rem;
        &::before {
            content:"▶"
        }
    }

    .options-col details summary {
        display: flex;
    }
}

.page-grid-modal-open {
    max-height: 1rem;
    grid-auto-rows: unset;
}