<!-- Unit List -->
<div class="unit-col">
    <strong>Add Posses</strong>
    @for ( posse of posseService.PosseListSignal(); track $index ) {
    <div class="unit-card">
        <span>{{ posse.name }}</span>
        <button (click)="addPosse(posse)">+</button>
    </div>
    }
</div>

<!-- Selected List -->
<div class="main-col">
    <div class="list-name">
        {{ listService.listSignal().name
        }}<span
            >{{ this.listService.listPoints() }} /
            {{ this.listService.listSignal().points }}</span
        >
    </div>
    @for (posse of listService.listSignal().posses; track $index) {
    <div class="unit-card">
        <a routerLink="posses/{{ $index }}">{{ posse.name }}</a>
        <div>{{ posse.units.length }}</div>
        <button (click)="removePosse($index)">-</button>
    </div>
    }
</div>

<!-- Options / Rules Panel -->
<div class="options-col">
    <strong>List Configuration</strong>
    <div class="form-item">
        <label>List Name: </label>
        <input type="text" value="My List" />
    </div>
    <div class="form-item">
        <label>Points: </label>
        <input type="number" value="200" />
    </div>
</div>
