/* You can add global styles to this file, and also import other style files */

body {
    --color-bg: #FCFCFC;
    --color-text-1: #444;
    --color-text-2: #888;   
    --color-border-1: #E9E9E9;
    --color-border-2: #CBCBCB;
    --color-negative: rgb(167, 0, 0);
    --color-positive: green;

    --font-size: 1rem;
    --font-size-sm: .85rem;
    --font-size-lg: 1.25rem;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text-1);

    font-family: sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    border: none;
    background-color: transparent;

    &.--negative {
        color: var(--color-negative);
    }
    &.--positive {
        color: var(--color-positive);
    }

    &:hover {
        background-color: rgb(245, 245, 245) !important;
    }
}

.badge {
    padding: .25rem .5rem;
    border-radius: 6px;
    min-inline-size: 2ch;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gray;
    color: white;

    &.--negative {
        color: white;
        background-color: var(--cr-color-negative);
    }
    &.--positive {
        color: white;
        background-color: var(--cr-color-positive);
    }
}